<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WilcoTX Elections - Sample Ballot Admin</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <base href="@Context.Request.PathBase" />
    <script>
    window.basePath = '@Context.Request.PathBase';
    </script>

</head>

<body>
    <header>
        <img src="https://apps.wilco.org/utils/wilcoMark.svg" alt="Williamson County, TX Logo" class="headerLogo">
    <h1>WilCoTX Sample Ballot Admin</h1>
    </header>
        <main>
            @RenderBody()
        </main>

    <footer>
       
    </footer>

    
</body>
</html>