@page
@model Wilco.Elections.SampleBallotLookup.Pages.SampleBallotModel
@{
    ViewData["Title"] = "Voter Lookup Settings";
}

<div class="headerAndNav">
<h2>Voter Lookup Settings</h2>
<div><a href="/">Lookup Admin</a> | <a href="/newelection">Elections</a></div>
</div>
<form method="post">
    <div>
        <label for="EnglishText">English Text</label>
        <textarea name="EnglishText" id="EnglishText" rows="6" cols="80">@Model.Settings.EnglishText</textarea>
    </div>
    <div>
        <label for="SpanishText">Spanish Text </label>
        <textarea name="SpanishText" id="SpanishText" rows="6" cols="80">@Model.Settings.SpanishText</textarea>
    </div>
    <div class="form-group">
            <label for="ShowSampleBallots">Display Sample Ballots?:</label>
            <label class="switch">
                <input type="hidden" name="ShowSampleBallots" value="false" />
                <input type="checkbox" name="ShowSampleBallots" id="showBallotsSwitch" value="true" @(Model.ShowSampleBallots ? "checked" : "") />
                <span class="slider round"></span>
            </label>
    </div>

    <button class="updateButton" type="submit">Save</button>
</form>