@page
@model Wilco.Elections.SampleBallotLookup.Pages.SampleBallotModel
@{
    ViewData["Title"] = "Voter Lookup Settings";
}

<div class="headerAndNav">
<h2>Voter Lookup Settings</h2>
    <div><a href="/sampleBallotAdmin">Lookup Admin</a> | <a href="/sampleBallotAdmin/newelection">Elections</a> | <a href="/sampleBallotAdmin/ManageOfficials">Elected Officials</a></div>
</div>
<form method="post">
    <div>
    <label asp-for="Settings.EnglishText">English Text</label>
    <textarea asp-for="Settings.EnglishText" rows="6" cols="80"></textarea>
  </div>
  <div>
    <label asp-for="Settings.SpanishText">Spanish Text</label>
    <textarea asp-for="Settings.SpanishText" rows="6" cols="80"></textarea>
  </div>
    <div class="form-check form-switch form-sampleBallotSwitch">
    <p>Display Sample Ballot?</p>
    <label class="switch">
  <input asp-for="Settings.ShowSampleBallot" type="checkbox" />
  <span class="slider"></span>
</label>

  </div>


    <button class="updateButton" type="submit">Save</button>
</form>