@page
@model IndexModel
@{
    ViewData["Title"] = "Sample Ballot Lookup";
}
<head>
	<meta charset="utf-8" />
	<link rel="icon" href="" /> <!-- add link to WilcoTX favicon here-->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://apps.wilco.org/utils/wilcostyle/wilcoStyle.css">
</head>
<h1>WilcoTX Sample Ballot Admin</h1>